{{- if eq .Values.store.engine "woocommerce" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.store.name }}-woo
  labels:
    app: {{ .Values.store.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.store.name }}
      tier: frontend
  template:
    metadata:
      labels:
        app: {{ .Values.store.name }}
        tier: frontend
    spec:
      containers:
        - name: wordpress
          image: {{ .Values.woocommerce.image }}
          env:
            - name: WORDPRESS_DB_HOST
              value: 127.0.0.1
            - name: WORDPRESS_DB_USER
              value: {{ .Values.woocommerce.db.user }}
            - name: WORDPRESS_DB_PASSWORD
              value: {{ .Values.woocommerce.db.password }}
            - name: WORDPRESS_DB_NAME
              value: {{ .Values.woocommerce.db.name }}
          ports:
            - containerPort: 80
              name: wordpress
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
        - name: mariadb
          image: {{ .Values.woocommerce.db.image }}
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.woocommerce.db.rootPassword }}
            - name: MYSQL_USER
              value: {{ .Values.woocommerce.db.user }}
            - name: MYSQL_PASSWORD
              value: {{ .Values.woocommerce.db.password }}
            - name: MYSQL_DATABASE
              value: {{ .Values.woocommerce.db.name }}
          ports:
            - containerPort: 3306
              name: db
{{- end }}
