kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ .Values.store.name }}-db-pvc
  labels:
    app: {{ .Values.store.name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
